span{
    color:red;
    font-size:16px;
}

ol h5{
    background: white ;
    padding:13px;
    border-radius:20px ;
}

li img{
    border-radius: 20px;
}

.bob
{
    background:olivedrab;
    padding:40px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow:5px 5px 18px grey;
}

b{
    color:purple;
}